name: Build and Release Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'

      - name: Run Release Build
        run: make release

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gowebbase-release-archives
          path: release/
